<body class="bg-ques">
  <section class="gradient-form mt-20">
  <div class="container py-5 h-100 ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-8">
        <div class="card rounded-3">
          <div class="row g-0">
          <div class="col card-body gradient-custom-2 text-white text-center"> 
            <div class="">
                  <%= image_tag "covid2.png" %>
                </div>
                  <h1 class="mt-1 mb-2 pb-1 text-center" style="font-family: 'Acme', sans-serif;">Estebana</h1>
                <p class="small mb-0">Do you have any wonders,questions or fears? Write it down so that our specialists would satisfy you with the answers you deserve.</p>
          </div>
        </div>
          <div class="row g-0">
            <div class="col card-body"> 
                  <%= form_with(model: question) do |form| %>
                    <% if question.errors.any? %>
                      <div class="border border-danger bg-danger m-2" id="error_explanation">
                        <h3 class="pt-2 px-2"><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h3>
                        <ul>
                          <% question.errors.each do |error| %>
                            <li><%= error.full_message %></li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>
                <h4 class="text-center">Write down your question</h4>
                <div class="form-outline mb-4">
                  <%= form.label :Question_Subject%><br>
                  <%= form.text_field :subject , :class =>"form-control p-2"  %>
                </div>
                <div class="form-outline mb-4">
                  <%= form.label :Question%><br>
                  <%= form.text_area :content , :class =>"form-control p-2"  %>
                </div>
                <% if current_user and current_user.role != 0%>
                  <div class="form-outline mb-4">
                    <%= form.check_box :is_faq %>
                    <%= form.label :Do_you_want_to_list_your_question_as_FAQ?%>
                  </div>
                <% end %>
                <div class="form-outline mb-4">
                  <%= form.check_box :is_private %>
                  <%= form.label :Do_you_want_your_question_to_be_private? %>
                </div>
                <div class="actions">
                  <%= form.hidden_field :user_id, value: current_user.id %>
                </div>
                <div class="actions">
                  <%= form.submit "Submit Question", :class => "btn btn-sign btn-block fa-lg mb-3 form-control" %>
                </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>